<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Developer</title>
        <link rel="icon" href="/assets/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/style/navbar.css">
        <link rel="stylesheet" href="/style/body.css">

        <style>
            /* ==================== ISI ======================== */
            .about {
                padding: 25px; /* setingan padding */
                text-align: center; /* setingan untuk teks supaya berada di tengah*/
                background-color: #FFFFFF;
            }

            h2 {
                font-size: 25px;
            }

            p {
                padding: 0px 30px;
                margin: 20px;
                font-size: 15px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <!-- NAVBAR -->
            <div class="navbar">
                <!-- Logo -->
                <a href="#" class="logo"><img src="/assets/logo.png" alt="MamaCare+ Logo">MamaCare+</a>

                <!-- Menu Items -->
                <div class="menu">
                <a href="mainpage.html"><img src="/assets/img_navbar/icon_home.png" alt="Home"> HOME</a>
                <a href="bantuan.html"><img src="/assets/img_navbar/icon_bantuan.png" alt="Bantuan"> BANTUAN</a>
                <a href="#" class="notif">
                    <img src="/assets/img_navbar/icon_notif.png" alt="Notifikasi"> NOTIF
                    <span class="badge">1</span>
                </a>
                <a href="#"><img src="/assets/img_navbar/icon_profil.png" alt="Profil Mama"> PROFIL MAMA</a>
                </div>
            </div>

            <!-- HERO -->
            <section class="hero"></section>

            <!-- ISI -->
            <section class="about" id="Tentang">
                <h2>Latar Belakang Perancangan</h2>
                <p>
                    MamaCare+ adalah aplikasi yang dirancang untuk kebutuhan ibu dalam perawatan diri, anak, dan kehamilan. Aplikasi ini dirancang dan direncanakan oleh tim dari kelas D4 RPL 2C yaitu kelompok 5, untuk memenuhi tugas dari matakuliah proyek 1. Pada awal perencanaan kelompok 5 dan kelompok lain dalam satu kelas dihimbau oleh dosen pengampu matakuliah untuk terlebih dahulu menentukan tema dari aplikasinya melalui diagram SDG’s, kemudian dari kelompok 5 pula mengambil tema kesehatan, dengan alasan, sekarang kita sepakati bersama bahwa zaman sudah modern dan serba mudah, untuk itu pula kelompok 5 melihat terkait track data kesehatan di Indonesia apa saja isu yang belum terdigitalisasi, pada awallnya kelompok 5 melihat bahwasaanya kesehatan mental muda dan mudi di Indonesia itu banyak yang cenderung mengalami gangguan, seperti stress dan lain lain. 
                </p>
                <p>
                    Namun kelompok 5 tak berhenti mengobservasi sampai disitu saja, masih banyak isu kesehatan di Indonesia ini yang perlu diperhatikan. Walhasil kelompok 5 akhirnya menemukan isu yang belum banyak di lakukan digitalisasi di bidangnya, yaitu terkait panduan dan pemantauan kesehatan ibu dan anak beserta kehamilan, atas dasar pengamatan melalui dampak dari pernikahan dini yang sering terjadi di daerah Indramayu khusunya. Oleh sebab itu, kelompok 5 merancang aplikasi ini supaya orang tua dan Ibu-ibu muda yang belum terlalu paham dengan kondisi dan kesehatan gizi mereka, kelompok 5 membangun aplikasi MamaCare+, sebagai bentuk aplikasi edukasi, pendamping, dan paduan dalam menjaga kesehatan Ibu, anak, dan kehamilan. 
                </p>
            </section>
        </div>
    </body>
</html>