<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Privacy Policy</title>
        <link rel="icon" href="/assets/logo.png">
        <link rel="stylesheet" href="/style/navbar.css">
        <link rel="stylesheet" href="/style/body.css">
        <link rel="stylesheet" href="/style/faq.css">

        <style>
            .hero {
                background-image: url("/assets/reklame2.png");
                background-size: cover;
                background-position: top center;
                background-repeat: no-repeat;
                height: 50vh;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 30px;
            }

            /* ==================== ISI ======================== */
            .about {
                padding: 25px; /* setingan padding */
                text-align: center; /* setingan untuk teks supaya berada di tengah*/
                background-color: #FFFFFF;
            }

            h2 {
                font-size: 25px;
                padding-bottom: 12px; /* setingan jarak pading ke bawah */
            }
        </style>
    </head>
    <body>
        <div class="container">
            <!-- NAVBAR -->
            <div class="navbar">
                <!-- Logo -->
                <a href="#" class="logo"><img src="/assets/logo.png" alt="MamaCare+ Logo">MamaCare+</a>

                <!-- Menu Items -->
                <div class="menu">
                <a href="mainpage.html"><img src="/assets/img_navbar/icon_home.png" alt="Home"> HOME</a>
                <a href="bantuan.html"><img src="/assets/img_navbar/icon_bantuan.png" alt="Bantuan"> BANTUAN</a>
                <a href="#" class="notif">
                    <img src="/assets/img_navbar/icon_notif.png" alt="Notifikasi"> NOTIF
                    <span class="badge">1</span>
                </a>
                <a href="#"><img src="/assets/img_navbar/icon_profil.png" alt="Profil Mama"> PROFIL MAMA</a>
                </div>
            </div>

            <!-- HERO -->
            <section class="hero"></section>

            <!-- ISI -->
            <section class="about" id="Tentang">
                <h2>Privacy Policy</h2>
                <p>
                    Di MamaCare+, kami menghargai privasi Anda dan berkomitmen untuk melindungi informasi pribadi yang Anda berikan kepada kami. Kebijakan Privasi ini menjelaskan bagaimana kami mengumpulkan, menggunakan, dan melindungi informasi Anda saat Anda menggunakan layanan kami.
                </p>
            </section>

            <!-- FAQ -->
            <section class="faq" id="FAQ">
                <div class="faq-container">
                    <div class="faq-item">
                        <button class="faq-question">
                            1. Informasi yang Kami Kumpulkan
                            <span class="faq-icon">
                                <img src="/assets/drop down.png">
                            </span>
                        </button>
                        <div class="faq-answer">
                            <p>
                                Kami dapat mengumpulkan informasi pribadi yang Anda berikan secara langsung, seperti nama, alamat email, nomor telepon, dan informasi bisnis terkait saat Anda mendaftar atau menggunakan layanan kami. Kami juga dapat mengumpulkan informasi non-pribadi secara otomatis melalui penggunaan cookie dan teknologi pelacakan lainnya saat Anda mengunjungi situs web kami.
                            </p>
                        </div>
                    </div>

                    <div class="faq-item">
                        <button class="faq-question">
                            2. Penggunaan Informasi
                            <span class="faq-icon">
                                <img src="/assets/drop down.png">
                            </span>
                        </button>
                        <div class="faq-answer">
                        <p>
                            Informasi yang kami kumpulkan digunakan untuk:
                            <ul>
                                <li>
                                    Memberikan layanan pembuatan landing page sesuai kebutuhan Anda.
                                </li>
                                <li>
                                    Menghubungi Anda terkait layanan kami, termasuk pembaruan atau promosi.
                                </li>
                                <li>
                                    Meningkatkan kualitas layanan kami melalui analisis penggunaan situs web dan umpan balik pelanggan.
                                </li>
                                <li>
                                    Memenuhi kewajiban hukum yang berlaku.
                                </li>
                            </ul>
                        </p>
                        </div>
                    </div>

                    <div class="faq-item">
                        <button class="faq-question">
                            3. Perlindungan Informasi
                            <span class="faq-icon">
                                <img src="/assets/drop down.png">
                            </span>
                        </button>
                        <div class="faq-answer">
                            <p>
                                Kami menerapkan langkah-langkah keamanan yang sesuai untuk melindungi informasi pribadi Anda dari akses, perubahan, pengungkapan, atau penghancuran yang tidak sah.
                            </p>
                        </div>
                    </div>

                    <div class="faq-item">
                        <button class="faq-question">
                            4. Pembagian Informasi
                            <span class="faq-icon">
                                <img src="/assets/drop down.png">
                            </span>
                        </button>
                        <div class="faq-answer">
                            <p>
                                Kami tidak akan menjual, menyewakan, atau membagikan informasi pribadi Anda kepada pihak ketiga tanpa persetujuan Anda, kecuali jika diwajibkan oleh hukum atau jika diperlukan untuk menyediakan layanan yang Anda minta (misalnya, bekerja sama dengan mitra layanan kami).
                            </p>
                        </div>
                    </div>

                    <div class="faq-item">
                        <button class="faq-question">
                            5. Hak Pengguna
                            <span class="faq-icon">
                                <img src="/assets/drop down.png">
                            </span>
                        </button>
                        <div class="faq-answer">
                            <p>
                                Anda memiliki hak untuk mengakses, memperbaiki, atau menghapus informasi pribadi yang kami simpan. Anda juga dapat menolak pemrosesan data pribadi Anda dalam kondisi tertentu. Untuk melaksanakan hak ini, silakan hubungi kami melalui kontak yang tersedia di situs kami.
                            </p>
                        </div>
                    </div>

                    <div class="faq-item">
                        <button class="faq-question">
                            6. Perubahan Kebijakan Privasi
                            <span class="faq-icon">
                                <img src="/assets/drop down.png">
                            </span>
                        </button>
                        <div class="faq-answer">
                            <p>
                                Kami dapat memperbarui Kebijakan Privasi ini dari waktu ke waktu. Setiap perubahan akan diumumkan di situs web kami, dan versi terbaru dari kebijakan ini akan selalu tersedia untuk Anda.
                            </p>
                        </div>
                    </div>

                    <div class="faq-item">
                        <button class="faq-question">
                            7. Kontak Kami
                            <span class="faq-icon">
                                <img src="/assets/drop down.png">
                            </span>
                        </button>
                        <div class="faq-answer">
                            <p>
                                Jika Anda memiliki pertanyaan atau kekhawatiran mengenai Kebijakan Privasi ini atau praktik privasi kami, silakan hubungi kami melalui WhatsApp di 0851-8312-4640.

                                Dengan menggunakan layanan bikinlaman, Anda menyetujui pengumpulan dan penggunaan informasi sebagaimana dijelaskan dalam Kebijakan Privasi ini.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <script src="/js/script.js"></script>
    </body>
</html>