/* ==================== ARTIKEL ======================== */
.artikel {
    text-align: center;
    background-color: #FFFFFF;
    padding: 40px;
    margin-top: 10px;
    margin-bottom: -52px;
}

.artikel h2 {
    font-size: 25px;
    color: #1E1E1E;
    margin-bottom: 20px;
}

.artikel-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    /* position: relative; */
    /* right: 50px; */
}

/* .position1 {
    position: relative;
    right: 100px;
}

.position2 {
    position: relative;
    left: 50px;
}

.position3 {
    position: relative;
    left: 100px;
} */

.artikel-slide {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    /* opacity: 0; */
    transition: opacity 2s ease-in-out; /* Menambah animasi transisi */
}

.active-slide {
    display: flex;
    /* opacity: 5; Pastikan slide aktif ditampilkan penuh */
}

.artikel-item {
    position: relative;
    max-width: 350px;
    max-height: 280px;
    border-radius: 10px;
    overflow: hidden;
}

.artikel-item img {
    width: 100%;
    transition: transform 0.3s ease;
}

.artikel-item:hover img {
    transform: scale(1.1); /* Efek zoom pada gambar */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay gelap */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding-bottom: 40px; /* Jarak untuk memberi ruang bagi overlay hijau */
}

.artikel-item:hover .overlay {
    opacity: 1; /* Muncul overlay saat hover */
}

.overlay p {
    font-size: 16px; /* Sesuaikan ukuran font */
    font-weight: 600; /* Atur ketebalan teks jika diperlukan */
    margin: 0;
    padding: 0 10px; /* Tambahkan padding untuk lebih rapi */
    line-height: 1.3; /* Sesuaikan line-height jika teks terdiri dari beberapa baris */
}

.green-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1B2769;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
}

.btn-article {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.dot-navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
    transition: fade;
}

.dot {
    width: 30px;
    height: 12px;
    background-color: #ccc;
    border-radius: 12px;
    cursor: pointer;
}

.active-dot {
    background-color: #1B2769; /* Warna biru untuk titik aktif */
    width: 12px;
    height: 12px;
}

/* Tombol Selengkapnya */
.btn-selengkapnya {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    margin: 30px auto; /* Untuk membuatnya berada di tengah */
    transition: transform 0.3s ease;
}

.btn-selengkapnya img {
    width: 150px; /* Sesuaikan ukuran tombol sesuai kebutuhan */
}   

.btn-selengkapnya:hover {
    transform: scale(1.05); /* Efek zoom saat dihover */
}